.elRow{ display: flex !important; justify-content: center; align-items: center;}
.elRowJustifyLeft{ display: flex; justify-content: left; align-items: center; }
body { background-color: #fff; height: 100%; }
/deep/.ivu-icon { font-size: 14px }
.ivu-input{
    border-radius: 0 !important;
    font-size: 14px !important
}
.ivu-form-item-label{
    font-size: 14px !important;
    color: #141111 !important
}
.ivu-input:focus{
  border-color: #e5e5e5 !important;
  box-shadow: none !important;
}
.ivu-page{
    margin-top: 10px !important;
    text-align: center !important;
}
  .ivu-page>li>a{
    font-size: 16px !important;
    color: #686F92 !important;
  }
  .ivu-page>.ivu-page-disabled,.ivu-page>.ivu-page-disabled:hover{
    background: #CDCED3 !important;
  }
  .ivu-page>.ivu-page-disabled>a>.ivu-icon-ios-arrow-back,.ivu-page>.ivu-page-disabled>a>.ivu-icon-ios-arrow-forward{
    color: #fff !important;
  }
  .ivu-page.mini .ivu-page-item,.ivu-page-item{
    border: 1px solid #d7dde4 !important
  }
  .ivu-page>.ivu-page-item-active{
    background: #FC7643 !important;
    border: none;
  }
  .ivu-page>li:hover{
    background: #FC7643 !important;
    border: none;
  }
  .ivu-page>li:hover a{
    color: #fff !important;
  }
  .ivu-page>.ivu-page-item-active>a{
    color: #fff !important;
    font-size: 16px !important;
  }
.ivu-modal-header-inner{
    font-size: 16px !important;
    text-align: center !important;
    color: #fff !important
}
.ivu-modal-header{
    background-color: #333 !important;
}
.ivu-modal-close .ivu-icon-ios-close,.ivu-modal-close .ivu-icon-ios-close:hover{
    color: #fff !important
}
.ivu-input-number{
    width: 100% !important;
}
.ivu-date-picker{
  width: 100% !important
}
.ivu-modal-content{
  border-radius: 0 !important
}
.sub-btn {
  background: #FB843E;
  border-radius: 4px;
  width: 200px;
  height: 36px;
  border: 0;
}
.total-num{ margin-left: 20px;margin-bottom: 10px; color: #FB843E; font-size: 12px}
.ivu-select{ text-align: left !important; }
.ivu-select-multiple .ivu-select-item-selected { color: #FB843E !important; }
.ivu-select-multiple .ivu-select-item-selected:after { color: #FB843E !important; }